* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  border: 1px solid blue;
  border-radius: 20vw;
  color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 20vh;
  width: auto;
  font-size: 10vh;
  margin-bottom: 10vw;
}

main {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 10vh;
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  gap: 2vh;
  display: flex;
  border: solid 1px black;
  border: 1px solid blue;
  border-radius: 25px;
  color: blue;
  margin: 5vw;
  width: 100%;
}

.bookmark {
  border: none;
  background-color: transparent;
  width: 100%;
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 2vh;
  list-style-type: none;
  padding-left: 2vw;
}

.listen-container {
  border: 1px red solid;
  width: 100%;
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2vh;
  list-style-type: none;
  padding-left: 2vw;
}

tag {
  border: 1px solid blue;
}

h1 {
  text-transform: uppercase;
}

button.after {
  display: none;
}

footer {
}

.navi {
  border-radius: 20vw;
  bottom: 0;
  background: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
