* {box-sizing: border-box;
    padding: 0;
margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}




header {

  border: 11px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 20vh;
  width: auto;
  font-size: 10vh;
  color: blue;
  padding-bottom: 1.25vw;
}

main {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 5vh;
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  gap: 2vh;
  display: flex;
  border: solid 1px black;
  width: 50vw;
  height: 50vh;
}

.listen-container {
  border: 1px red solid;
  width: 100%;
  color: red;
  display: flex;
  flex-direction: row;
  justify-content:flex-start
  flex-wrap: wrap;
  gap: 2vh;
  list-style-type: none;
  padding-left: 2vw;
 
 

}

tag {
    border: 1px solid blue;


}

h1 {
  text-transform: uppercase;
}

button [hidden] {
}

button.after {
  display: none;
}
.tags {
}

footer {
  background: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between
  text-align:left;
}
